:host {
    ul, li {
        padding:0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
    }

    li {

    }

    a {
        padding: 30px;
        display: block;    
        cursor: pointer;  
        text-decoration: none;
        color: #000;
          
    }

    a:hover {
        background-color: #EEE;
    }

    h1 {
        padding:30px
    }
}